# Configuration file

blocks {
    B:WirelessLever=true
}


vanillachanges {
    # Leaves will decay much faster when no longer connected to a log
    B:FasterLeaveDecay=true

    # Locks the Gamma to 0
    B:LockedGamma=false
}


