node_modules/
dist/
dist.rar
out/
*.exe
*.rar
*.zip
*.7z
.DS_Store
launcher.log
logs/
crash-reports/
level.dat
minetweaker.log
*.log.gz
mods/*.jar
config/
crystite/.gradle/
crystite/*/build/
crystite/build/
